<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="page-banner-heading">Freshen up with your summertime memories</h1>
                <p class="page-banner-text">Sign up to get 25% off on your first order</p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signupModal">Sign up now</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalTitle">Sign up to get 25% off on your first order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation">
                    <div class="form-group">
                        <label for="userName" class="col-form-label">Name</label>
                        <input type="email" class="form-control" id="userName" />
                        <div class="invalid-feedback">
                            Name is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userEmail" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="userEmail" />
                        <div class="invalid-feedback">
                            Email is invalid
                        </div>
                    </div>
                </form>
                <div class="alert alert-success d-none" role="alert" id="success">
                    Thank you for subscribing! Promo code: <strong>FIRST25</strong>
                </div>
            </div>
            <div class="modal-footer">
                <div class="invalid-feedback">test</div>
                <button class="btn btn-primary" type="submit" id="subscribeButton">Sign-up now</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/custom/subscribe.js")
    <script type="text/javascript">
        $(document).ready(function () {
            subscribe.init();

            // On modal close
            $('#signupModal').on('hidden.bs.modal', function (e) {
                subscribe.clear();
            })
        });
    </script>
}
