<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="">
                <h1 class="page-banner-heading">Freshen up with your summertime memories</h1>
                <p class="page-banner-text">Sign up to get 25% off on your first order</p>
                <p><a class="btn btn-primary btn-lg" href="#">Sign up now</a></p>
            </div>
        </div>
    </div>
</div>

